h1 {
  color: rgb(255, 255, 255);
}
.fa-line {
  color: green;
}
.gradiant {
 background-color:  #5e42a6;
}
.imgdiv img{
  width: 100%;
  height: 90%;
}
.container .card{
    width: 50%;
    margin: auto;
}
.dropdown-item .user-item {
  white-space: normal;
  vertical-align: bottom;
}
/* a{
  margin: 0 0 50px;
  font-weight: normal;
  color: #fff;
  transition: all 0.3s ease;
}

a:hover{
  text-shadow: 1px 1px 0 #37cdf5, 2px 2px 0 #1fc7f3, 3px 3px 0 #0cbdec;
  transform: translate(-3px, -3px);
} */


.couleur{
  color: white;
}
a{
  position: relative;
  color: white;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after{
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
a:hover{
  color: white;
}

.effect-1 {
  padding-top: 10px;
}
.effect-1:before {
  margin-top: 6px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: whitesmoke;
  transform: scaleX(0);
}
.effect-1:hover:before {
  transform: scaleX(1);
}

aside
{
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  
  padding-top: 20px;
  border-top-right-radius: 60px;
  position: absolute;
  left: -300px;
  transition: all 0.8s ease;
  width: 200px;
  height: 100vh;
  background: #312450;
  text-align: left;
  
  line-height: 4rem;
  }
  aside li{
    list-style-type: none;
  }

aside.active{
  left: 0;
}