h1 {
  color: rgb(255, 255, 255);
}
.fa-line {
  color: green;
}
.gradiant {
 background-color:  #5e42a6;
}
.imgdiv img{
  width: 100%;
  height: 90%;
}
.container .card{
    width: 50%;
    margin: auto;
}
.dropdown-item .user-item {
  white-space: normal;
  vertical-align: bottom;
}

.couleur{
  color: white;
}
a{
  position: relative;
  color: white;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after{
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
a:hover{
  color: white;
}

.effect-1 {
  padding-top: 10px;
}
.effect-1:before {
  margin-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: whitesmoke;
  transform: scaleX(0);
}
.effect-1:hover:before {
  transform: scaleX(1);
}

aside
{
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  
  padding-top: 20px;
  border-top-right-radius: 60px;
  position: absolute;
  left: -300px;
  transition: all 0.8s ease;
  width: 200px;
  height: 100vh;
  background: #312450;
  text-align: left;
  
  line-height: 4rem;
  }
  aside li{
    list-style-type: none;
  }

.scale:hover
{
  box-shadow: 10px black;
  transform: scale(1.1);
}
.scale
{ 
  transition:all 0.5s ease-in-out ;
}
aside.active{
  left: 0;
}
.planque{
  display: none;
}
.show
{
  display: block!important;
}
.coolstuff .card:nth-child(2n)
{
  background-color: #f8b334;
}
.coolstuff .card:nth-child(2n+1)
{
 background-color: #97bf0d;
}
.coolstuff .card:nth-child(3n)
{
 background-color: #cb2025;
}